.fill-area {
  width: 100%;
  height: 100%;
}

.semi-area {
  width: 50%;
  height: 50%;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lefted {
  display: flex;
  align-items: flex-end;
  justify-content: end;
}

.righted {
  display: flex;
  align-items: flex-start;
  justify-content: start;
}

.app-wrapper-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.app-card {
  width: 35rem;
  height: 40rem;
}

.app-card-body {
  padding-top: 0 !important;
  padding-bottom: 3rem;
  width: 35rem;
  height: 40rem;
}

.clock-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

#clock {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  transform: rotate(180deg);
  width: 25rem;
  height: 25rem;
}

#hour {
  width: 2%;
  height: 20%;
  background-color: black;
  position: absolute;
  transform-origin: top;
  top: 50%;
}

#minute {
  width: 2%;
  height: 25%;
  background-color: black;
  position: absolute;
  transform-origin: top;
  top: 50%;
}

#second {
  width: 1%;
  height: 30%;
  background-color: red;
  position: absolute;
  transform-origin: top;
  top: 50%;
}

#dot {
  width: 3%;
  height: 3%;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  top: 48.5%;
  border-radius: 100%;
}

.digital-wrapper {
  flex-direction: row;
  font-family: "Orbitron", sans-serif;
  color: white;
  padding: 8rem;
  font-size: 5rem;
}

.options-wrapper {
  margin-bottom: 5rem;
}

input[type="radio"] {
  cursor: pointer;
}

.pomodoro-wrapper {
  color: white;
}

.pomodoro-count {
  display: flex;
  align-items: flex-start;
  justify-content: start;
}

.pomodoro-btn {
  background: rgba(255, 255, 255, 0.1) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  border: rgba(255, 255, 255, 0.3) !important;
  border-radius: 0 !important;
  width: 7rem;
  margin-bottom: 3%;
}

.footer-btn {
  background: rgba(255, 255, 255, 0.1) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  border: rgba(255, 255, 255, 0.3) !important;
  border-radius: 0 !important;
  margin: 0 1% 2% 1%;
  width: 2rem;
  height: 1rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pomodoro-time {
  font-size: 5rem;
}

.pomodoro-footer {
  color: white;
}
